---
import Hero from "@/components/Hero/Hero.astro";
import Gallery from "@/components/Gallery/Gallery.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title="AdriArt Studio">
  <main>
    <Hero />
    <Gallery />
  </main>
</Layout>
