---
import "@/components/Gallery/Gallery.css";
import GalleryPicture from "@/components/GalleryPicture/GalleryPicture.astro";
---

<section id="gallery-43">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Obras</span>
      <h2 class="cs-title">Piérdete en mi Galería de Arte</h2>
      <p class="cs-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Amet minim mollit
        non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit.
      </p>
    </div>
    <div class="cs-image-group">
      <!-- Image 1 -->
      <GalleryPicture
        title="Modern Architectual Design"
        description="Li Europan lingues es membres del sam familie. Lor separat existentie es un myth"
        image="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg"
      />
      <!-- Image 2 -->
      <GalleryPicture
        title="Modern Architectual Design"
        description="Li Europan lingues es membres del sam familie. Lor separat existentie es un myth"
        image="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg"
        smallImage="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1-m.jpg"
      />
      <!-- Image 3 -->
      <GalleryPicture
        title="Modern Architectual Design"
        description="Li Europan lingues es membres del sam familie. Lor separat existentie es un myth"
        image="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg"
        smallImage="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1-m.jpg"
      />
      <GalleryPicture
        title="Modern Architectual Design"
        description="Li Europan lingues es membres del sam familie. Lor separat existentie es un myth"
        image="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg"
        smallImage="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1-m.jpg"
      />
      <GalleryPicture
        title="Modern Architectual Design"
        description="Li Europan lingues es membres del sam familie. Lor separat existentie es un myth"
        image="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg"
        smallImage="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1-m.jpg"
      />
      <GalleryPicture
        title="Modern Architectual Design"
        description="Li Europan lingues es membres del sam familie. Lor separat existentie es un myth"
        image="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg"
        smallImage="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1-m.jpg"
      />
    </div>
  </div>
</section>
